

.container-center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content {
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(220, 233, 245);
}


/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
